/* ===== About Page ===== */

.banner{
    text-align: center;
    padding: 350px 0;
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    font-size: 62px;
    color:white;
    font-family: 'Merriweather', serif;
}

.about-banner{
    background: url("images/about-bg.jpg");
}

.content{
    margin: 45px 0;
}