/* ===== Contact Page ===== */
.contact-banner{
    @extend %banner;
    background:url("images/contact-bg.jpg");
    background-attachment: fixed;
}

.contact-banner-content{
    z-index: 1;
    position: relative;
}