body{
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

p{
    color: #777777;
    line-height: 30px;
    text-decoration: none;
}


.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.mtb-50{
    margin: 50px 0;
}

.pr-0{
    padding-right: 0;
}

.pl-0{
    padding-left: 0;
}