/* ===== General ===== */
body{
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

p{
    color: #777777;
    line-height: 30px;
    text-decoration: none;
}

.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.mtb-50{
    margin: 50px 0;
}

.pr-0{
    padding-right: 0;
}

.pl-0{
    padding-left: 0;
}

/* ===== Home Page ===== */
/* Navigation */
.links ul{
    margin-bottom: 0;
}

.navigation{
    padding: 20px 0;
}

.links ul li a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #777;
}

.links ul li .active{
    color: #bfba55;
}

.links ul li a:hover{
    color: #bfba55;
}

.logo a{
    color: #777777;
}

.logo a:hover{
    text-decoration: none;
}


/* Hero */
.hero{
    background: url("images/home-bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 350px 0;
    text-align: center;
}

.hero-title{
    color: white;
    font-size: 62px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.hero-slogan{
    color: #bfba55;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
}

.btn-hero{
    background-color: white;
    color: #444444;
    border-radius: 100px;
    padding: 13px 22px;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    margin-top: 50px;
    font-size: 10px;
    font-weight: bold;
}

.btn-hero:hover{
    background-color: transparent;
    color: white;
    border: solid 1px ;
}

/* Articles */
.articles{
    margin-top: 90px;
    margin-bottom: 90px;
}

.btn-articles{
    background:transparent;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 20px;
    letter-spacing: 2px;
}

.btn-articles:hover{
    background-color: #bfba55;
    color: white;
}

.article-title{
    font-family: 'Merriweather', serif;
    margin: 25px 0;
}

.article-meta{
    font-family: 'Merriweather', serif;
    margin: 30px 0;
}

.article-body{
    font-family: 'Merriweather', serif;
    color: #777777;
    margin-bottom: 25px;
    line-height: 30px;
}

.article-title a{
    color: #222222;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 0.5px;
}

.article-title a:hover{
    color: #bfba55;
}

.img-author{
    width: 42px;
}

.articles span{
    margin: 0 10px;
    color: #333333;
}

.articles hr{
    margin: 60px 0;
}


/* footer */
.footer{
    background-color: black;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}


/* ===== About Page ===== */

.banner{
    text-align: center;
    padding: 350px 0;
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    font-size: 62px;
    color:white;
    font-family: 'Merriweather', serif;
}

.about-banner{
    background: url("images/about-bg.jpg");
}

.content{
    margin: 45px 0;
}


/* ===== Gallary ===== */
.gallary-banner{
    background: url("images/gallery-bg.jpg");
    background-repeat: none;
    background-position: top center;
    background-size: cover;
}

/* ===== Contact Page ===== */
.contact-banner{
    background:url("images/contact-bg.jpg");
    background-repeat: none;
    background-position: top center;
    background-size: cover;
}