/* ====== General ===== */
/* navigation */
.navigation{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation ul li a{
    text-decoration: none;
    color: #777;
    margin: 0 15px;
    margin-bottom: 0;
}

.navigation ul{
    margin-bottom: 0;
}

.navigation ul li a:hover{
    color: #bfba55;
}

.logoimg{
  width: 160px;
}


/* ===== Home Page ===== */
/* hero */
.hero{
    background-image: url("img/hero-image.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: top center;
    padding-top: 400px;
    padding-bottom: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.hero-slogan{
    color: yellow;
    font-size: 62px;
    padding-bottom: 20px;
    font-family: 'Ranchers', cursive;
    letter-spacing: 6px;
}

.btn-hero{
    font-size: 11px;
    margin-top: 50px;
    letter-spacing: 2px;
    padding: 12px 30px;
    background-color: white;
    color: #444444;
    border-radius: 100px;
}

.btn-hero:hover{
    background-color: transparent;
    color: white;
    border: solid 1px;
}

/* BMI */
.bmi-inputs{
    margin: 15px 0;
}

/* Instructor */
.instructor-img{
    width: 100%;
    height: 100%;
}

.instructors{
    margin: 90px 0;
}

.instructor-title{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 90px;
}

.about-instructor{
    text-align: center;
    letter-spacing: 6px;
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Ranchers', cursive;
}

.row-space{
    margin-bottom: 70px;
}

/* footer */
.footer{
    margin-top: 50px;
    background-color: black;
    padding: 100px 0;
    width: 100%;
    
}

.footer p{
    color: white;
}

.footer-contact, .footer-classes{
    position: absolute;
    bottom: 0; 
}





/* ===== contact page ===== */

.contact-form{
    margin: 15px 0;
}

.contactform{
     margin-bottom: 100px; 
    margin-top: 100px;
}

.contact-title{
    font-family: 'Ranchers', cursive;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}



/* ===== Blog Page ===== */
.article-meta{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Chilanka', cursive;
    margin: 30px 0;
}

.article-meta span{
    margin: 0 20px;
}

.blog-content{
    color: #777;
    font-family: 'Chilanka', cursive;
    line-height: 30px;
}

.btn-continue{
    background: transparent;
    color: #777;
    border: 1px solid #777;
    border-radius: 100px;
    font-family: 'Chilanka', cursive;
}

.btn-continue:hover{
    color:white;
    background-color: #bfba55;
}

.articles hr{
    margin: 60px 0;
}

.img-author{
    width: 52px;
}


/* ===== Login ===== */

  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 350px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .loginpage-logo{
      margin-top: 30px;
      margin-left: 30px;
  }


  /* ===== Register ===== */

#login .container #login-row #login-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }


  /* ===== Gallary Page ===== */
  .item-data{
      margin-top: 20px;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      font-family: 'Chilanka', cursive;
  }

  .btn-buy-now{
        background: transparent;
        color: #777;
        border: 1px solid #777;
        border-radius: 100px;
        font-family: 'Chilanka', cursive;   
}

.btn-buy-now:hover{
    color:white;
    background-color: #bfba55;
}

.buy-button{
    text-align: center;
    margin-top: 20px;
}

.gallary-items hr{
    margin: 60px 0;
}

/* ===== Classes Page ===== */
.apply{
    text-decoration: none;
    color: #777777;
}

.apply:hover{
    color: #bfba55;
}


