/* ===== contact page ===== */

.contact-form{
    margin: 15px 0;
}

.contactform{
     margin-bottom: 100px; 
    margin-top: 100px;
}

.contact-title{
    font-family: 'Ranchers', cursive;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}