/* footer */
.footer{
    margin-top: 50px;
    background-color: black;
    padding: 100px 0;
    width: 100%;
    
}

.footer p{
    color: white;
}

.footer-contact, .footer-classes{
    position: absolute;
    bottom: 0; 
}