/* Instructor */
.instructor-img{
    width: 100%;
    height: 100%;
}

.instructors{
    margin: 90px 0;
}

.instructor-title{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 90px;
}

.about-instructor{
    text-align: center;
    letter-spacing: 6px;
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Ranchers', cursive;
}

.row-space{
    margin-bottom: 70px;
}