/* navigation */
.navigation{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation ul li a{
    text-decoration: none;
    color: #777;
    margin: 0 15px;
    margin-bottom: 0;
}

.navigation ul{
    margin-bottom: 0;
}

.navigation ul li a:hover{
    color: #bfba55;
}

.logoimg{
  width: 160px;
}