.btn-digital{
    color: white;
    background: $primary-color;
    border-width: 4px;
    border-radius: 0;
    padding: 12px 42px;
    font-size: 15px;

    &:hover{
        background: transparent;
        color: white;
        border-color: white;

    }
}


.btn-digital-convert{
    color: white;
    background: transparent;
    border-width: 4px;
    border-radius: 0;
    padding: 12px 42px;
    font-size: 15px;
    border-color: white;

    &:hover{
        
       color: white;
       background: $primary-color;
       border-color: $primary-color;

    }
}