body {
  background-color: #979797;
}

hr {
  width: 10%;
  border-style: none;
  border-bottom-style: dotted;
  border-color: #64e291;
}

h1,h3,h2{
  color: #3c70a4;
}

h1:hover,h2:hover,h3:hover{
  color:silver;
}


a:hover{
  color: gold;
}
